<h1>All tasks list</h1>

<%= link_to  "Create a new task", tasks_new_path %>
<span><i class="fas fa-check-square"></i></span>
<br>
<br>

<table class="table">
   <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Completed?</th>
    <th> Lien </th>
  </tr>
    <% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.title, task_path(task) %></td>
    <td><%= task.details  %></td>
    <td><% if task.completed
     %>
     <i class="fas fa-check-square icon-green">
     <% else %>
      <i class="far fa-times-circle icon-red"></i>
     <% end %></td>
    <td><%= link_to  "Voir", task_path(task) %> <br>
    <% link_to destroy_path(task) do

    end %></td>
  </tr>
  <% end %>
</table>



  <%= link_to  "Create a new task", tasks_new_path %>
