<h1>Create a new task</h1>

<%= form_for(@task) do |t| %>
  <%= t.label :title %>
  <%= t.text_field :title %>
  <br>
  <br>
  <%= t.label :details %>
  <%= t.text_field :details %>
  <br>
  <br>
  <%= t.submit %>
<% end %>

<%# <%= simple_form_for(@task) do |t| %>
  <%# <%= t.input :title %>
  <%# <%= t.input :details %>
  <%# <%= t.submit %>
<%# <% end %>


<%= link_to  "Back to the list", "/tasks" %>
